.layout {
  height: 100%;
}

.right {
  background: #efefef;
  height: 100%;
  overflow: auto;
}

.content {
  float: left;
  width: 800px;
  margin: 30px 40px;
}

@media all and (max-width: 1110px) {
  .content {
    float: left;
    width: 94%;
    margin: 30px 3%;
  }
}
