.layout {
  height: 100%;
}

.right {
  background: #1a5373;
  height: 100%;
  overflow: auto;
}

.content {
  float: left;
  width: 1000px;
  margin: 5px 40px;
}

@media all and (max-width: 1310px) {
  .content {
    width: 94%;
    margin: 5px 3%;
  }
}
