.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
}

.pagination-button {
  border: solid 1px var(--color-outline-variant);
  width: 32px;
  height: 32px;
  background: var(--color-surface-container-lowest);
  color: var(--color-primary);
  font-size: 14px;
  font-weight: bold;
}

.pagination-button-tofirst {
  border: solid 1px var(--color-outline-variant);
  border-radius: var(--radius-md) 0 0 var(--radius-md);
  width: 48px;
  height: 32px;
  background: var(--color-surface-container-lowest);
  color: var(--color-primary);
  font-size: 14px;
  font-weight: bold;
}

.pagination-button-tolast {
  border: solid 1px var(--color-outline-variant);
  border-radius: 0 var(--radius-md) var(--radius-md) 0;
  width: 48px;
  height: 32px;
  background: var(--color-surface-container-lowest);
  color: var(--color-primary);
  font-size: 14px;
  font-weight: bold;
}
.pagination-button:hover,
.pagination-button-tofirst:hover,
.pagination-button-tolast:hover {
  background: var(--color-surface-container);
  cursor: pointer;
  transform: translateY(-2px);
}

.pagination-button[disabled],
.pagination-button-tofirst:hover[disabled],
.pagination-button-tolast:hover[disabled] {
  background: var(--color-surface-container-lowest);
  color: var(--color-outline);
  cursor: revert;
  transform: revert;
}

.pagination-button[aria-current],
.pagination-button-tofirst:hover[aria-current],
.pagination-button-tolast:hover[aria-current] {
  background: var(--color-primary-container);
  color: var(--color-on-primary-container);
  font-weight: bold;
  cursor: revert;
  transform: revert;
}
