.searchbar {
  margin: 12px 40px 0 40px;
}

#toggle {
  display: none;
}

.searchbar-search {
  position: relative;
  bottom: 31px;
  width: 30px;
  height: 30px;
  margin: 0 10px;
  z-index: -1;
  transition: all 0.3s;
}
.searchbar-input {
  display: block;
  width: calc(100% - 4px);
  height: calc(100% - 2px);
  border: none;
  border-right: 0;
}
.searchbar-input:focus {
  outline: none;
}
#toggle:checked ~ .searchbar-button {
  width: 780px;
  background: var(--color-surface-container-lowest);
}
#toggle:checked ~ .searchbar-search {
  left: 32px;
  width: 600px;
  z-index: 1;
}
#toggle:checked ~.searchbar-search > .searchbar-input {
  background: var(--color-error-container);
}
.searchbar-button {
  display: inline-block;
  background: var(--color-surface-container-high);
  width: 30px;
  height: 30px;
  margin: 0 10px;
  border-radius: 15px;
  border-color: var(--color-outline-variant);
  border-style: solid;
  border-width: 1px;
  transition: all 0.3s;
}

.searchbar-button:hover {
  cursor: pointer;
  background: var(--color-surface-container-lowest);
  transition: 1s;
}

.searchbar-icon {
  position: relative;
  
  top: calc(50% - 9px);
  left: 6px;
  width: 18px;
  height: 18px;
  pointer-events: none;
}

.searchbar-results {
  background: var(--color-surface-container-lowest);
  text-align: left;
  width: 600px;
  padding: 4px;
  border: solid 1px var(--color-outline-variant);
}

.searchbar-result {
  height: 40px;
  line-height: 40px;
}
