@font-face {
  font-family: "pretendard";
  src: url("Pretendard-Regular.woff2") format("woff2"),
    url("Pretendard-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "chosunsg";
  src: url("ChosunSg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.sidebar {
  color: white;
  background: #292d3e;
  width: 230px;
  height: 100%;
  float: flex;
  overflow: auto;
  text-align: center;
  transition: .5s;
}

.sidebar-header {
  width: 100%;
  height: 270px;
}

.sidebar-profile-img {
  margin: 40px 0 20px 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.sidebar-profile-name {
  color: #416289;
  font-size: 24px;
  font-weight: bold;
  font-family: "pretendard";
}

.sidebar-profile-intro {
  font-family: "chosunsg";
  padding: 4px;
}

.sidebar-nav {
  font-family: "chosunsg";
  padding: 20px 35px 20px 35px;
  letter-spacing: 2px;
}

.sidebar-nav-icon {
  float: left;
  width: 15px;
  height: 15px;
  margin: 10px 10px 10px 25%;
  filter: opacity(.5) drop-shadow(0 0 0 #a19e9e);
}

.sidebar-nav-item {
  display: block;
  width: 160px;
  height: 60px;
  font-weight: bold;
  text-decoration: none;
}

.sidebar-nav-name {
  float: left;
  line-height: 35px;
  color: white;
}

.sidebar-link {
  height: auto; 
}

.sidebar-link-header {
  width: 100%;
  height:20px;
  text-align: center;
  font-size: 12px;
}

.sidebar-link-header-item {
  display: inline-block;
  width: 32%;
}

.sidebar-link-header-item::after {
  clear: both;
}

.sidebar-link-item {
  display: inline-block;
  padding: 10px;
}

.sidebar-link-icon {
  width: 16px;
  height: 16px;
  filter: opacity(.5) drop-shadow(0 0 0 #a19e9e);
}

@media (max-width: 800px) {
  .sidebar {
	  transform: translateX(-150%);
  }
}
