@font-face {
  font-family: "pretendard";
  src: url("Pretendard-Regular.woff2") format("woff2"),
    url("Pretendard-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "chosunsg";
  src: url("ChosunSg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

nav {
  background: #F9F9F9F9;
  width: 230px;
  height: 100%;
  float: left;
  overflow: auto;
  text-align: center;
}

#sidebar-header {
  height: 270px;
}

#sidebar-profile-img {
  display: block;
  position: relative;
  top: 40px;
  left: 55px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

#sidebar-profile-name {
  position: relative;
  top: 55px;
  color: #416289;
  font-size: 24px;
  font-weight: bold;
  font-family: "pretendard";
}

#sidebar-profile-intro {
  position: relative;
  top: 60px;
  color: #a19e9e;
  font-family: "chosunsg";
}

#sidebar-nav {
  height: 210px;
  color: #a19e9e;
  font-family: "chosunsg";
  padding: 20px;
  letter-spacing: 2px;
}

.sidebar-nav-icon {
  height: 12px;
  filter: opacity(.5) drop-shadow(0 0 0 #a19e9e);
}

.sidebar-nav-item {
  height: 35px;
  font-weight: bold;
}

#sidebar-link {
  height: calc(100% - 590px); 
  min-height: 70px;
}

#sidebar-link-header {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  font-size: 12px;
  color: #a19e9e;
}

#sidebar-link-header::before,
#sidebar-link-header::after {
  content: "";
  flex-grow: 1;
  background: #eeeeee;
  height: 0.5px;
  line-height: 0px;
  margin: 0px 16px;
}

#sidebar-link-item {
  display: inline-block;
  padding: 10px;
}

.sidebar-link-icon {
  height: 16px;
  filter: opacity(.5) drop-shadow(0 0 0 #a19e9e);
}

#sidebar-mod {
  align-items: center;
  width: 230px;
  height: 50px;
}

#sidebar-mod-icon {
  position: relative;
  top: calc(50% - 8px);
  height: 16px;
}